/Project01/.idea/
/.idea/
/Project02/Project02.iml
/Homework01/Homework01.iml
/Homework02/Homework02.iml
/Project01/Project01.iml
/out/
/Project03/Project03.iml
/Project02/src/*/*.class
/Project03/src/*/*.class
/TCPClientLog.txt
Homework04/~$mework 4 - Nisarg Patel.docx
Project03.zip
Homework04/~WRL0005.tmp
/Project04/GMT20221128-233124_Recording_1920x1080.mp4
/Project04/~$oject 4 NEU 2020.docx
